<section>
    <form [formGroup]="pokemonForm" (ngSubmit)="savePokemon()">
        <p>
            <label for="name">Nom </label>
            <input id="name" formControlName="name">
            @if (name.hasError('required') && !name.untouched) {
            <small class="error">Veuillez entrer un nom</small>
            }
        </p>
        <p>
            <label for="description">Description </label>
            <input type="texte" id="description" formControlName="description" />
            @if (description.hasError('required') && !description.untouched) {
            <small class="error">Veuillez entrer une description</small>
            }
        </p>

        <p>
            <label for="type">Type </label>
            <select id="type" formControlName="type">
                @for(type of types; track type){
                <option [value]="type">{{type}}</option>
                }
            </select>
        </p>

        <fieldset formGroupName="zone">
            <legend>Zone</legend>
            <p>
                <label for="name">Nom </label>
                <input id="name" formControlName="name">
            </p>
            <p>
                <label for="description">Région </label>
                <input id="description" formControlName="description">
            </p>
        </fieldset>
        <fieldset formArrayName="attacks">
            <legend>Attaques </legend>
            @for (attaque of attaques.controls; track attaque) {
            <fieldset formGroupName="{{$index}}">
                <legend>Attaque {{$index +1}}</legend>
                <div>
                    <p>
                        <label [for]="'name' + $index">Nom </label>
                        <input [id]="'name' + $index" formControlName="name">
                    </p>
                    <p>
                        <label [for]="'power' + $index">Dégats </label>
                        <input [id]="'power' + $index" formControlName="power">
                    </p>
                </div>
            </fieldset>
            }
            <button (click)="addAttaque()" type="button">
                Ajouter une attaque
            </button>

        </fieldset>
        <p>
            <button>Save</button>
        </p>
    </form>

    @for (pokemon of pokemons; track pokemon) {
    <app-pokemon-card [pokemon]="pokemon" (pokemonDelete)="remove(pokemon)"></app-pokemon-card>
    }

</section>